@font-face {
    font-family: 'Figtree';
    src: url('Figtree-Regular.woff2') format('woff2'),
        url('Figtree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('Geist-Bold.woff2') format('woff2'),
        url('Geist-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('Geist-Medium.woff2') format('woff2'),
        url('Geist-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jaro';
    src: url('Jaro-Regular.woff2') format('woff2'),
        url('Jaro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Regular.woff2') format('woff2'),
        url('RobotoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Staatliches';
    src: url('Staatliches-Regular.woff2') format('woff2'),
        url('Staatliches-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

