$container-max-width: 1280px;
$container-side-padding: clamp(0.75rem, 2.3vw, 1.875rem);

.hero {
  &__visual {
    position: relative;
    width: 100%;
    height: 28.125vw;
    overflow: hidden;

    @media (max-width: 800px) {
      height: auto;
      display: flex;
      flex-direction: column;
    }
  }

  &__background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;

    @media (max-width: 800px) {
      position: relative;
      height: 400px;
      order: 2;
    }
  }

  &__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100%;
    background: #cd9d65;
    z-index: 2;
    display: flex;

    // Расчет отступа слева, чтобы текст попал в "линейку" контейнера
    padding-left: calc((100vw - #{$container-max-width}) / 2);

    @media (max-width: 1280px) {
      padding-left: 0; // Когда экран меньше контейнера, расчет не нужен
    }

    @media (max-width: 800px) {
      position: relative;
      width: 100%;
      padding-left: 0;
      order: 1;
    }

    :global(.container) {
      margin-left: 0; // Прижимаем контейнер к левому краю оранжевого блока
      margin-right: 0;
      width: 100%;
      max-width: none;
      // Паддинг берем из твоего конфига
      padding-left: $container-side-padding;
    }
  }

  &__panelContent {
    // height: 100%;
    padding: 60px 0;
    // display: flex;
    // flex-direction: column;
    justify-content: space-between;

    @media (max-width: 800px) {
      padding: 30px 0;
    }
  }

  &__panelTitle {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(2em, 2.6vw, 2.625em);
    line-height: 110%;
    letter-spacing: 0.01em;
    color: #000;
    margin-bottom: 80px;
  }

  &__panelButton {
    padding: 7px 26px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(1em, 2vw, 1.625em);
    line-height: 139%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #cd9d65;
    border-radius: 100%;
    background-color: #0f0f0f;

  }

  &__descr {
    padding: clamp(1.5em, 2vw, 1.875em) clamp(1em, 2vw, 1.25em) clamp(5em, 6vw, 6.25em) clamp(1em, 2vw, 1.25em);

    &__title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: clamp(2.5em, 4vw, 3.75em);
      line-height: 110%;
      letter-spacing: -0.01em;
      color: #000;
      margin-bottom: 50px;
    }

  }


  &__about__btn {
    padding: 7px 26px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(1em, 2vw, 1.625em);
    line-height: 139%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #000;
    border: #000 solid 1px;
    border-radius: 100%;
    background-color: #fff;
  }
}